@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Apercu";
  src: url("/fonts/Apercu-Light.woff2") format("woff2"),
    url("/fonts/Apercu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  src: url("/fonts/Apercu-Medium.woff2") format("woff2"),
    url("/fonts/Apercu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu Pro Mono";
  src: url("/fonts/ApercuPro-Mono.woff2") format("woff2"),
    url("/fonts/ApercuPro-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("/fonts/ApercuPro-Regular.woff2") format("woff2"),
    url("/fonts/ApercuPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
